@charset "UTF-8";
@font-face {
    font-family: Inter-ExtraBold;
    src: url(../fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter-Bold;
    src: url(../fonts/static/Inter-Bold.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin-block: 1%;
    margin-inline: 2%;
    scroll-behavior: smooth;
}

html {
    --primary1: hsl(35, 77%, 62%);
    --primary2: hsl(5, 85%, 63%);
    --neutral1: hsl(36, 100%, 99%);
    --neutral2: hsl(233, 8%, 79%);
    --neutral3: hsl(236, 13%, 42%);
    --neutral4: hsl(240, 100%, 5%);
    --paragraph: 15px;
}

body {
    background-color: var(--neutral1);
}

header {
    display: flex;
    height: fit-content;
}

.logo {
    width: 60%;
    font-weight: bolder;
}
.navigation {
    width: 40%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: var(--neutral3);
    font-family: sans-serif;
    font-weight: 400;
}

section {
    display: flex;
    justify-content: space-between;
    /* margin-top: -20px; */
}

.section_one {
    width: 70%;
}

.section_two {
    width: 30%;
    background-color: black;
    height: 500px;
}
.first_s {
    background-image: url(../images/image-web-3-desktop.jpg);
    background-size: cover;
    height: 60%;
}

.second_s {
    display: flex;
}
.second_s_one {
    width: 45%;
    text-align: left;
    font-family: Inter-ExtraBold;
    font-weight: 800;
    font-size: 25px;
}
.second_s_two {
    width: 55%;
}
.second_s_two p {
    font-size: var(--paragraph);
    font-family: Inter-Regular;
}
.second_s_two button {
    padding: 10px 20px;
    font-family: Inter-Bold;
    border: none;
    background-color: var(--primary2);
    color: var(--neutral1);
}

.section_two {
    color: var(--neutral1);
}